* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100vh;
  margin: 0;
  
}

body {
  background-color:  #f1f1f1;
  display: flex;
  flex-direction: column;
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  min-height: 100vh;
}



/* ---------------------------------------------------------------------------------------------- */
/* NAVBAR CSS */

.container-top {
  background-color: #f1f1f1;
  display: flex;            
  justify-content: space-between; 
  padding: 10px;              
}

.num {
  margin: 0;     
  font-size: 12px; 
  color: grey;           
}

.mail {
  margin: 0; 
  font-size: 12px;            
  color: grey;     
}

.navbar {
  flex-direction: column;
  background-color: #fff;
  height: 80px;
  margin: 0px;
  border-radius: 0;
  padding: 0.5rem;
  position: static;
}

.navbar-brand {
  font-weight: 500;
  color: #1775f1;
  font-size: 24px;
  transition: 0.3s color;
  text-decoration: none;
}

.login-button {
  background-color: #1775f1;
  color: #fff;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.login-button:hover {
  background-color: #0c5fcd;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #666777;
  font-weight: 600;
  position: relative;
}

.nav-link:hover,
.nav-link.active {
  color: #000;
}

@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #1775f1;
    visibility: hidden;
    transform: 0.3s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}




/* ---------------------------------------------------------------------------------------------- */
/* MAIN CSS */

main{
  width: 100%;
  flex: 1; /* Ana içeriği esneterek footer'ı aşağı iter */
  margin-top: 0px;
  padding: 30px;
}

.main-content {
  height: 100%;
}

/* search-container'ı Flexbox ile dikeyde ortalamak */
.search-container {
  flex-direction: column;
  display: flex;
  align-items: center;  /* Dikeyde ortalama */
  height: 100%;        /* Konteynerin yüksekliğini tüm ekran yapmak */
  width: 100%;          /* Konteynerin genişliği tüm sayfayı kaplasın */
  padding: 10px;
  justify-content: center;  /* Yatayda ortalama */
}

/* Input alanını stilize et */

form{
  flex-direction: column;
  display: flex;
  width: 100%;
  align-items: center;
}


.search-input {
  padding: 15px;
  font-size: 16px;
  border: 1px solid #1775f1;
  border-radius: 30px;
  width: 50%;  
  margin-right: 10px;  
  transition: all 0.2s ease-in-out;
}

.search-input:focus{
  outline: none;
  border: 2px solid #1775f1;
}

.search-input::placeholder{
  color: #c8cbcf;
}

/* arttırma azaltma spinnerın gizlenmesi için yazılan kod bloğu choreme edge operada geçerlidir */
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox için geçerli olan */
input[type="number"] {
  -moz-appearance: textfield;
}


/* Buton stilini belirle */
.search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1775f1;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 40px;
  width: 150px;
  transition: all 0.4s ease-in-out;
}

.search-button:hover {
  background-color: white;
  color: #1775f1;
  border: 1px solid #1775f1;
}

.search{
  width: 100%;
  background-color: white;
  border-radius: 20px;
  height: 500px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.3);
}


.main-content .search .info{
  color: black;
}


.infodiv .info{
  text-align: center;
  font-size: 25px;
}

.infodiv .info2{
  text-align: center;
  font-size: 15px;
  color: #c3c4c7;
  margin-bottom: 80px;
}


/* Neden Biz İçeriğinin yazılması */
.whyus{
  padding: 30px;
  border-radius: 20px;
  background-color: white;
  height: auto;
  margin-bottom: 100px;
  margin-top: 100px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Kutular arasına eşit boşluk koyar */
  align-items: center; /* Dikeyde ortalar */
}

.container
{
  margin-top: 40px;
  margin-bottom: 40px;
}


.box{
  width: 300px;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 20px;
  height: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Hafif gölge efekti */
  transition: all 0.5s ease;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box:hover{
  background-color: #1775f1;
  color: white;
  width: 350px;
  font-size: 18px
}

.baslik{
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.yazi{
  text-align: center;
}

.whyusyazi{
  font-weight: 600;
  font-size: 30px;
  text-decoration: underline;
  text-decoration-color: #1775f1;
  text-align: center;
  margin-bottom: 20px;
}



/* ---------------------------------------------------------------------------------------------- */
/* FOOTER CSS */
.footer {
  background-color: #fff;
  color: #fff;
  padding: 40px 20px;
  text-align: left;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 0 15px;
  min-width: 250px;
}

#site {
  margin-left: 100px;
}

.footer-section h3 {
  margin-bottom: 20px;
  font-size: 20px;
  color: #000;
  text-align: left;
}

.footer-section p,
.footer-section ul {
  font-size: 14px;
  line-height: 24px;
  color: #5d5d5d;
}

.footer-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #5d5d5d;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #1775f1;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: #5d5d5d;
  font-size: 18px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #1775f1;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #000;
}




/* ---------------------------------------------------------------------------------------------- */
/* RESPONSİVE TASARIM  */

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  #site {
    margin-left: 0; /* Mobil görünümde margin'i kaldır */
    margin-top: 20px; /* Üstten biraz boşluk ekle */
  }

  .footer-section {
    margin: 15px 0; /* Üst ve alt boşluk */
    text-align: center; /* Mobilde metni ortala */
  }

  .footer-section h3 {
    text-align: center;
    text-decoration: underline;
  }
}
