



/* Genel stil ayarları */
.table-container {
  overflow-x: auto; /* Yatay kaydırma için */
  border-radius: 10px;
  width: 100%; 
  margin: 0;
  padding: 0;
}

.table {
    margin-left: 0; /* Margini sıfırla */
    width: 100%; /* Tablonun tam genişlikte olmasını sağla */
}

.btn-sil, .btn-silinmez {
  width: 100px;
  height: 30px;
  font-size: 14px;
  border-radius: 15px;
  border: none;
  display: inline-block;
}

.btn-sil {
  background-color: red;
  color: white;
}

.btn-sil:hover {
  background-color: white;
  color: red;
  border: 1px solid red;
}

.btn-silinmez {
  background-color: #1775f1;
  color: white;
}

.btn-sil:active {
  border: 1px solid red;
}

/* Tablet ve küçük ekranlar için responsive düzenlemeler */
@media (max-width: 1024px) {
  .table-container {
    padding: 0 10px;
  }

  .table {
    font-size: 14px;
  }

  th, td {
    padding: 8px;
  }

  .btn-sil, .btn-silinmez {
    width: 90px;
    height: 28px;
    font-size: 12px;
  }
}

/* Mobil ekranlar için düzenlemeler */
@media (max-width: 768px) {
  .table-container {
    padding: 0 5px;
  }

  .table {
    font-size: 12px;
  }

  th, td {
    padding: 6px;
  }

  .btn-sil, .btn-silinmez {
    width: 80px;
    height: 25px;
    font-size: 12px;
  }

  .table {
    border-collapse: collapse; /* Daha düzgün görünüm için */
  }
}

/* Çok küçük ekranlar için düzenlemeler */
@media (max-width: 480px) {
  .table-container {
    padding: 0 5px;
  }

  th, td {
    font-size: 10px;
    padding: 5px;
  }

  .btn-sil, .btn-silinmez {
    width: 70px;
    height: 22px;
    font-size: 10px;
  }
}
