



/* ---------------------------------------------------------------------------------------------- */
/* FOOTER CSS */
.footer {
    background-color: #fff;
    color: #fff;
    padding: 40px 20px;
    text-align: left;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    margin: 0 15px;
    min-width: 250px;
  }
  
  #site {
    margin-left: 100px;
  }
  
  .footer-section h3 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #000;
    text-align: left;
  }
  
  .footer-section p,
  .footer-section ul {
    font-size: 14px;
    line-height: 24px;
    color: #5d5d5d;
  }
  
  .footer-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: #5d5d5d;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-section ul li a:hover {
    color: #1775f1;
  }
  
  .social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: #5d5d5d;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: #1775f1;
  }
  
  .footer-bottom {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #000;
  }
  
  