/* style.css */

.header {
  background-color: #1775f1;
  color: white;
  padding: 15px 20px;
  text-align: center;
}

.container-main {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1,
h2 {
  color: #4caf50;
}

.contact-form {
  margin-bottom: 20px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

.contact-form button {
  background-color: #1775f1;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 16px;
  width: 100px;
  transition: all 0.4s ease-in-out;
}

.contact-form button:hover {
  background-color: #fff;
  color: #1775f1;
  border: 1px solid #1775f1;
}

.contact-info {
  margin-top: 30px;
}

.contact-info p {
  font-size: 16px;
}



/* Responsive Design */
@media (max-width: 768px) {
  .container {
    padding: 15px;
    margin: 10px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 14px;
  }

  .contact-info p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 10px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 16px;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 12px;
  }

  .contact-info p {
    font-size: 12px;
  }

  .footer {
    font-size: 12px;
  }
}
