.container {
  width: 200px;
  height: 100%;
  border-radius: 25px;
  justify-content: center;
  display: flex;
}

.container-column {
  border-radius: 25px;
  padding: 20px;
  height: auto;
  width: 30%;
  background-color: white;
  flex-direction: column;
}

.title-text {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.input-giris {
  border-radius: 25px;
  padding: 15px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #f1f1f1;
  padding-left: 25px;
}

.input-giris:focus {
  border: 1px solid #1775f1;
  outline: none;
}

.btn-giris {
  color: white;
  background-color: #1775f1;
  text-align: center;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 20px;
  margin-top: 30px;
  transition: color 0.4s ease-in;
  font-size: 18px;
}

.btn-giris:hover {
  background-color: white;
  color: #1775f1;
  border: 1px solid #1775f1;
}

.hesapAc {
  margin-top: 40px;
  flex-direction: row;
  text-align: center;
  justify-items: flex-start;
}

a {
  color: #1775f1;
}
